.right {
    float: right;
    margin-right: 10%;
}

.left {
    float: left;
    margin-left: 10%;
}

.navbar{
    background-image: url(https://www.neonandmore.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/-/1-10-28-286-3213/Walk-Ins-Welcome-Neon-Sign-Custom-Neon-Signs-32-13.jpg);
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: right;
    border-right: 50px;
    height: 100px;
    background-color: black;
}

.navbar-brand {
    margin: 20px 40px 0 0;
    font-size: 25px
}

label {
    font-size: 16px;
}

.help-block {
    font-size: 12px;
}

.control-label {
    margin: -3px 0 -3px 0;
}

legend {
    font-size: 30px;
}

a {
    font-size: 24px;
}

li {
    list-style: none;
}
